body{
width: 100%;
}
#contenedor{
    background-color: rgb(188, 249, 194) ;
}
.navbar{
background-color: rgb(72, 186, 72);
margin: auto;
}
.columna{
    text-align: center;
    width: 32%;
    display: inline-block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 3%;
    padding: 5%;
    margin-block: 5%;
}
h1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: auto;
    margin-top: 3%;
    padding: 5%;
    background-color: rgb(6, 151, 38);
    border-radius: 20%;
}

h3{
    margin-left: 40%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(0, 31, 13);
}
section{
    text-align: center;
    margin: auto;
}
table{
    margin-left: 10%;
    text-align: center;

}
h2{
  margin-left: 10%;
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}